        * {
            box-sizing: border-box;
            font-family: 'Nunito Sans', sans-serif;
            line-height: 1.5;
            margin: 0;
        }
        
        h2 {
            text-align: center;
            font-size: 3em;
        }
        
        p {
            letter-spacing: 1px;
            color: #999;
        }
        
        header {
            width: 100%;
            height: 100vh;
            background-image: url("../img/1.jpg");
            background-size: cover;
            background-position: center;
            position: relative;
            color: white;
        }
        
        header #logo {
            width: 156px;
            height: 45px;
            float: left;
            margin-left: 50px;
            font-size: 2em;
            cursor: pointer;
            margin-top: 2%;
        }
        
        header nav {
            float: right;
            margin-right: 50px;
            margin-top: 20px;
        }
        
        header nav input {
            display: none;
        }
        
        header nav a {
            text-decoration: none;
            color: white;
            display: block;
            padding: 15px;
        }
        
        header nav a:hover {
            background-color: white;
            color: black;
            border-radius: 5px;
        }
        
        header nav label {
            display: none;
        }
        
        header nav ul {
            overflow: auto;
            padding: 0;
            /* margin: 0 15px; */
        }
        
        header nav ul li {
            float: left;
            list-style-type: none;
            color: white;
            border-radius: 5px;
        }
        
        .dropdown_menu {
            display: none;
            position: absolute;
        }
        
        .drop:hover .dropdown_menu {
            display: block;
        }
        
        .drop:hover .dropdown_menu ul {
            display: flex;
            flex-direction: column;
            margin-left: -10px;
        }
        
        #main-header {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        #main-header h2 {
            font-size: 50px;
            /* khoảng cách h2 với p ngắn */
            margin-bottom: 10px;
        }
        
        #main-header p {
            color: #fff;
            letter-spacing: 1px;
            margin: 10px 0px;
        }
        
        #main-header-readmore {
            color: white;
            margin-top: 10%;
            padding: 10px;
        }
        
        #main-header-readmore a {
            border: 2px white solid;
            /* width: 55px; */
            padding: 10px;
            border-radius: 5px;
            color: white;
            text-decoration: none;
        }
        
        #main-header-readmore:hover a {
            color: black;
            background-color: white;
        }
        
        #label-list {
            /* border: 1px white solid; */
            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translate(-60%, -50%);
        }
        
        #label-list-button {
            border: none;
            width: 10px;
            height: 10px;
            border-radius: 100px;
            padding: 5px;
            margin: 5px;
            opacity: 0.7;
        }
        
        @media only screen and (max-width: 992px) {
            /*
            header nav label {
                display: block;
                padding: 15px;
                margin-top: 7%;
                background-color: white;
                color: black;
                border-radius: 5px;
                 border: 2px tomato solid; 
            }
            header nav ul {
                 xổ các thẻ li trong ul 
                display: none;
                width: 100%;
                text-align: center;
            }
            header nav label:hover {
                background-color: white;
                color: black;
                border-radius: 5px;
            }
            header nav label:hover ul {
                display: block;
            }
            */
            header #logo {
                margin-top: 2%;
            }
            nav input[type="checkbox"]:checked~ul {
                display: block;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            nav ul {
                width: 100%;
                display: none;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                text-align: center;
                z-index: 1;
            }
            header nav label {
                display: block;
                padding: 15px;
            }
            nav li {
                width: 100%;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #main-header {
                width: 90%;
            }
            #main-header h2 {
                font-size: 25px;
            }
            #main-header p {
                text-align: center;
            }
        }
        /* welcome */
        
        #welcome {
            padding: 100px 10%;
            text-align: center;
        }
        
        #welcome h2 {
            font-size: 3em;
        }
        
        #welcome p {
            color: gray;
            margin: 30px auto;
        }
        
        #welcome img {
            width: 100%;
        }
        
        @media only screen and (max-width: 992px) {
            #welcome {
                padding: 220px 10%;
            }
            #welcome h2 {
                font-size: 3em;
                padding: 0;
            }
            #welcome p {
                margin: 50px 8%;
            }
            #welcome img {
                margin: 0;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #welcome {
                padding: 100px 10%;
            }
            #welcome h2 {
                font-size: 3em;
                padding: 0;
            }
            #welcome p {
                color: gray;
                margin: 50px 8%;
            }
            #welcome img {
                width: 100%;
            }
        }
        /* what we do */
        
        #what-we-do {
            width: 100%;
            padding: 100px 10%;
            padding-top: 0;
        }
        
        #what-we-do #wwd {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: space-around;
        }
        
        #what-we-do h2 {
            text-align: center;
            font-size: 3em;
        }
        
        #what-we-do #mini-box {
            width: 23%;
            height: 450px;
            position: relative;
        }
        
        #mini-box h3 {
            margin: 1rem 0;
        }
        
        #what-we-do #mini-box p {
            height: 20%;
            color: gray;
            position: absolute;
            bottom: 4rem;
        }
        
        #what-we-do img {
            width: 150px;
            height: 150px;
            border-radius: 300px;
            margin-top: 3rem;
        }
        
        @media only screen and (max-width: 992px) {
            #what-we-do {
                padding: 100px;
                padding-top: 0;
            }
            #what-we-do #wwd #mini-box {
                padding: 20px;
                width: 50%;
                height: 20rem;
            }
            #what-we-do h2 {
                margin: 1em;
            }
            #what-we-do img {
                margin: 0;
            }
            #what-we-do #mini-box p {
                height: 20%;
                color: gray;
                bottom: 2rem;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #what-we-do {
                padding: 10px;
            }
            #what-we-do #wwd #mini-box {
                width: 100%;
                padding: 20px;
                height: 20rem;
            }
            #what-we-do p {
                padding: 15px;
                position: absolute;
                bottom: 3rem;
            }
        }
        
        #statistics {
            min-height: 25rem;
            text-align: center;
            padding: 20px;
            color: #ffffff;
            background-image: url("../img/bg.jpg");
            background-size: cover;
        }
        
        #statistics h2 {
            /* font-size: 3em; */
            margin-top: 3rem;
        }
        
        #statistics #pack {
            display: flex;
            /* flex-wrap: wrap; */
            justify-content: center;
            width: 100%;
            padding: 20px;
        }
        
        #statistics #pack #s {
            width: 25%;
            /* float: left; */
            margin-left: 100px;
            text-align: center;
            height: 150px;
        }
        
        #statistics h3 {
            font-size: 70px;
            font-weight: 100;
        }
        
        #statistics .s1,
        .s2,
        .s3,
        .s4 {
            text-align: center;
            margin: 4%;
        }
        
        @media only screen and (max-width: 992px) {
            #statistics h3 {
                font-size: 50px;
                font-weight: 100;
            }
            #statistics #pack {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto;
                grid-template-areas: "s1 s2" " s3 s4";
            }
            .s1 {
                grid-area: s1;
            }
            .s2 {
                grid-area: s2;
            }
            .s3 {
                grid-area: s3;
            }
            .s4 {
                grid-area: s4;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #statistics {
                padding: 0;
                position: relative;
                /* top: 1%; */
            }
            #statistics h2 {
                margin: 0;
                margin-bottom: 5%;
                margin-top: 5%;
                padding-top: 5%;
            }
            #statistics #pack {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto;
                grid-template-areas: "s1" "s2" "s3" "s4";
            }
            .s1 {
                grid-area: s1;
            }
            .s2 {
                grid-area: s2;
            }
            .s3 {
                grid-area: s3;
            }
            .s4 {
                grid-area: s4;
            }
            #statistics .s1,
            .s2,
            .s3,
            .s4 {
                text-align: center;
                margin: 2%;
            }
        }
        /* services */
        
        #services {
            padding: 100px 0px;
            background-color: #f8f9fa;
            width: 100%;
            display: flex;
            justify-items: flex-start;
        }
        
        #services h2 {
            margin-top: 0px;
            margin-bottom: 15%;
            font-size: 3em;
            text-align: left;
            align-self: flex-start;
        }
        
        #left {
            flex: 1;
            padding: 1% 10%;
        }
        
        #left p {
            color: gray;
            background-color: #f8f9fa;
            letter-spacing: 1px;
            line-height: 2.5;
        }
        
        #right {
            background-color: #ffffff;
            flex: 2.5;
            display: flex;
            flex-wrap: wrap;
            margin-right: 5%;
            transition: all 0.5s;
        }
        
        .right-Grooming {
            border: rgb(141, 29, 29);
            text-align: center;
            width: 48%;
            height: 48%;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0.62rem 3.75rem #eaeef9;
            padding: 50px;
            cursor: pointer;
        }
        
        .right-Grooming:hover {
            background: #ff9900;
        }
        
        .right-Grooming:hover p {
            color: white;
        }
        
        .right-Grooming:hover .icon-service {
            color: white;
            /* background-color: white; */
            border-radius: 5px;
        }
        
        .top-left {
            margin: 0px 1% 1% 0px;
        }
        
        .top-right {
            margin: 0px 0px 1% 1%;
        }
        
        .bottom-left {
            margin: 1% 1% 0px 0px;
        }
        
        .bottom-right {
            margin: 1% 0px 0px 1%;
        }
        
        .icon-service {
            color: #ff9900;
            font-size: 3em;
        }
        
        #services #right h3 {
            font-size: 2em;
            font-weight: normal;
            margin: 30px 0;
        }
        
        @media only screen and (max-width: 992px) {
            #services {
                padding-top: 20px;
                padding-left: 0;
                padding-right: 10px;
            }
            #left {
                flex: 1.3;
                padding: 20px;
            }
            #left h2 {
                font-size: 40px;
            }
            #left p {
                color: #999;
            }
            .icon-service {
                font-size: 28px;
            }
            #right {
                margin-right: 0%;
            }
            #services #right h3 {
                font-size: 22px;
                margin: 25px 0;
            }
            #right .right-Grooming {
                padding: 20px;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #services {
                display: flex;
                flex-direction: column;
                padding: 25px 10px;
            }
            #services h2 {
                font-size: 30px;
                margin-bottom: 3%;
            }
            #services #left {
                width: 100%;
                padding-top: 0;
            }
            #services #right {
                width: 100%;
                padding: 20px;
                justify-content: center;
            }
            #services .right-Grooming {
                width: 90%;
            }
            #right .top-left,
            .top-right,
            .bottom-left,
            .bottom-right {
                margin: 0;
                margin-top: 3%;
            }
        }
        /* testimonials */
        
        #testimonials {
            padding: 45px;
            color: white;
            background-image: url("../img/bg.jpg");
            background-size: cover;
        }
        
        #testimonials h2 {
            margin: 30px 0;
        }
        
        .testimonials-contents {
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .testimonials-items {
            width: 28%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            /* flex-wrap: wrap; */
            /* align-items: flex-end; */
        }
        
        .testimonials-items img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        
        .testimonials-items a {
            text-decoration: none;
            font-size: 18px;
            color: #ff9900;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 600;
            padding: 10px;
            margin-top: 10%;
        }
        
        .testimonials-items p {
            margin: 5% 5%;
            color: white;
        }
        
        @media only screen and (max-width: 992x) {
            .testimonials-items p {
                color: white;
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 1.9;
                margin: 10% 5%;
            }
            .testimonials-items a {
                margin-top: 15%;
            }
            .testimonials-items img {
                margin-top: 2%;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #testimonials {
                padding: 20px;
            }
            #testimonials h2 {
                font-size: 35px;
            }
            .testimonials-contents {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            .testimonials-items {
                width: 100%;
            }
            .testimonials-items p {
                margin: 15px 0;
            }
            .testimonials-items img {
                margin: 10px 0;
            }
            .testimonials-items a {
                margin: 4% 10% 0% 0%;
            }
        }
        /* ourblog */
        
        #ourblog {
            padding: 100px;
        }
        
        #ourblog h2 {
            margin: 35px 0;
        }
        
        #ourblog-content {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            grid-template-rows: auto;
            grid-template-areas: "item1 item2 item3";
            grid-gap: 1em;
            justify-content: center;
        }
        
        #ourblog-content .shadow {
            border: solid 1px rgb(219, 219, 219);
            box-shadow: 0px 3px 10px 1px rgb(45 45 45 / 8%);
        }
        
        #ourblog-content img {
            width: 100%;
        }
        
        #ourblog-content .item1 {
            grid-area: item1;
        }
        
        #ourblog-content .item2 {
            grid-area: item2;
        }
        
        #ourblog-content .it-content1 {
            padding: 16px;
        }
        
        #ourblog-content .it-content1 h4 {
            font-size: 21px;
            font-weight: 400;
            color: black;
            margin-bottom: 15px;
        }
        
        #ourblog-content .it-content1 p {
            letter-spacing: 1px;
            font-size: 15px;
            margin-bottom: 15px;
        }
        
        #ourblog-content .it-content1 a {
            color: #ff9900;
            text-decoration: none;
            font-weight: 600;
            font-size: 15px;
        }
        
        #ourblog-content .item3 {
            grid-area: item3;
            padding: 20px;
        }
        
        #ourblog-content .item3 h4 {
            margin: 15px 0;
            color: #ff9900;
            font-weight: normal;
            font-size: 20px;
        }
        
        #ourblog-content .item3 p {
            color: #1f1f1f;
            font-size: 30px;
            font-weight: 400;
            transition: all 0.4s;
            cursor: pointer;
        }
        
        @media only screen and (max-width: 992px) {
            #ourblog {
                padding: 60px 10px 70px 10px;
            }
            #ourblog-content .it-content2 p {
                font-size: 21px;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #ourblog {
                padding: 60px 20px 70px 20px;
            }
            #ourblog h2 {
                font-size: 35px;
                margin: -5px;
            }
            #ourblog-content {
                /* display: grid; */
                grid-template-columns: 100%;
                grid-template-rows: auto;
                grid-template-areas: "item1" " item2 " "item3";
                grid-gap: 2em;
                justify-content: center;
                padding: 60px 20px 70px 20px;
            }
            #ourblog-content img {
                border-radius: 1%;
            }
        }
        /* google map */
        
        #map {
            width: 100%;
            border: 0;
        }
        
        #map-gg {
            width: 100%;
            height: 450px;
        }
        /* contact */
        
        #contact {
            padding: 40px 120px;
        }
        
        #contact h2 {
            text-align: center;
            font-size: 43px;
            margin: 35px 0;
        }
        
        #contact .content {
            width: 100%;
            padding: 0px 80px;
            display: flex;
            justify-content: space-around;
        }
        /* .content .main1 */
        
        .content .main1 .main1_content .main1_item {
            display: flex;
            margin-bottom: 20px;
            flex-direction: row;
        }
        
        .content .main1 h3 {
            font-weight: inherit;
            text-align: left;
            color: #ff9900;
            font-size: 30px;
            margin-top: 0;
            margin-bottom: 30px;
        }
        
        .content .main1 h4 {
            font-size: 1.3em;
            font-weight: inherit;
            margin: 0;
            margin-bottom: 10px;
        }
        
        .content .main1 .main1_item_text h4 {
            font-size: 1.3em;
            font-weight: inherit;
            margin: 0;
            margin-bottom: 10px;
        }
        
        .content .main1 .main1_item_text p {
            margin: 0;
            margin-bottom: 2px;
            font-size: 15px;
        }
        
        .content .main1 .main1_content .main1_item i {
            font-size: 30px;
        }
        
        .main1_item_icon {
            width: 20%;
            font-size: 30px;
        }
        /* .content .main2 */
        
        #contact .content .main2 {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 2em;
            background-color: #f7f7f7;
            border-radius: 5px;
            box-shadow: 7px 7px 10px 0 rgb(56 56 56 / 21%);
        }
        
        .content .main2 .form-content {
            width: 100%;
            margin-bottom: 15px;
        }
        
        .content .main2 .form-content input {
            outline: none;
            padding: 15px;
            font-size: 16px;
            color: #555;
            width: 100%;
            border: 1px solid #e6e6e6;
        }
        
        .content .main2 .form-content textarea {
            padding: 15px;
            max-height: 180px;
            font-size: 16px;
            color: #555;
            width: 100%;
            resize: none;
            border: 1px solid #e6e6e6;
            font-family: inherit;
        }
        
        .content .main2 .form-content #submit {
            width: 100%;
            padding: 15px;
            background-color: #fdb54b;
            border: none;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.4s;
        }
        
        @media only screen and (max-width: 992px) {
            #contact {
                padding: 40px 30px;
            }
            #contact .content {
                padding: 0;
                /* không nhận css này?  vẫn chạy: padding: 0px 80px;*/
            }
            .main1 {
                width: 40%;
            }
            #contact .content .main2 {
                width: 60%;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #contact {
                padding: 40px 20px;
                display: flex;
                flex-direction: column;
                /* width: 100%; */
            }
            #contact .content {
                display: flex;
                flex-direction: column;
                padding: 0;
                width: 100%;
            }
            #contact .content .main1 {
                grid-area: main1;
                width: 100%;
            }
            #contact .content .main2 {
                width: 100%;
                grid-area: main2;
            }
        }
        /* footer */
        
        .footer {
            background-color: #17181b;
            padding: 30px 50px;
            display: grid;
            grid-template-columns: 21% 21% 21% 30%;
            grid-template-rows: auto;
            grid-template-areas: "about1 who-are-where about2 newsletter";
            grid-gap: 1rem;
            justify-content: space-evenly;
        }
        
        .footer h3 {
            color: #fff;
            font-size: 22px;
            font-weight: 500;
            margin: 20px 0;
        }
        
        .footer h4 {
            color: white;
            font-weight: inherit;
            margin: 10px 0;
            padding: 0;
        }
        
        .footer p {
            font-size: 15px;
            color: #727377;
            margin-left: 1%;
        }
        
        #about1 {
            grid-area: about1;
            margin-left: 1%;
        }
        
        #who-are-where {
            grid-area: who-are-where;
        }
        
        #about2 {
            grid-area: about2;
        }
        
        #newsletter {
            grid-area: newsletter;
        }
        
        #newsletter input {
            padding: 13px;
            font-size: 15px;
        }
        
        #newsletter .mail {
            padding: 13px;
            font-size: 15px;
        }
        
        #color-smt {
            background-color: #c57600;
            padding: 15px 20px;
            font-size: 15px;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        
        #mail-box {
            padding: 13px;
            font-size: 15px;
        }
        
        #newsletter .btn-mail {
            background-color: #c57600;
            padding: 15px 20px;
            font-size: 15px;
            color: #fff;
        }
        
        .fab {
            font-size: 35px;
            padding: 2px;
            text-align: center;
            cursor: pointer;
        }
        
        .fa-facebook-square {
            color: #3b5998;
        }
        
        .fa-instagram-square {
            color: #1da1f2;
        }
        
        .fa-twitter-square {
            color: #ea4c89;
        }
        
        .fa-google-plus-square {
            color: #f44336;
        }
        
        @media only screen and (max-width: 992px) {}
        
        @media only screen and (max-width: 576px) {
            .footer {
                padding: 15px 25px;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto;
                grid-template-areas: "about1 who-are-where" "about2 about2" "newsletter newsletter";
                justify-content: flex-start;
            }
            #about1 {
                grid-area: about1;
            }
            #about2 {
                grid-area: about2;
            }
            #who-are-where {
                grid-area: who-are-where;
            }
            #newsletter {
                width: 100%;
                grid-area: newsletter;
            }
        }